In [31]:
import pandas as pd

In [24]:
n = int(input("enter a non-negative integer number "))

if n < 0: print("Error enter integer greater than 0")

enter a non-negative integer number 2

In [25]:
even = []
odd = []
fibo = [0,1]
for i in range(n):
   even.append(2*i)
   odd.append(2*i+1)
   if i > 1: fibo.append(fibo[i-2]+fibo[i-1])

In [26]:
odd

[1, 3]

In [27]:
even

[0, 2]

In [28]:
fibo

[0, 1]

In [29]:
len(even) == len(odd) == len(fibo) #Test to check the len of the three lists

True

true

In [32]:
results = pd.DataFrame({'even':even, 'odd':odd, 'fibo':fibo})
results

   even  odd  fibo
0     0    1     0
1     2    3     1